## Python Data Stuctures

## Why Python Built-in Data Structures?
* to colect multiple data in structures.

### 4 Data structures in Python
1. List
2. Sets
3. Tuples
4. Dictionary - key & Value

## 1. LIst
#### 
* 1D
* Heterogenous
* Duplicate Values
* Indexing &b Slicing is possible
* Mutable

In [20]:
67,78,10,100,80

(67, 78, 10, 100, 80)

In [21]:
students_mark = 67,78,10,100,80

In [22]:
type(students_mark)

tuple

In [23]:
empty_cart = []

In [24]:
empty_cart

[]

In [25]:
type (empty_cart)

list

In [26]:
items_to_buy = ['Apple', 'Orange', 'Grapes', 'Pomgrante']
items_to_buy

['Apple', 'Orange', 'Grapes', 'Pomgrante']

In [27]:
type(items_to_buy)

list

In [28]:
items_to_buy = ['Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9]
items_to_buy

['Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9]

In [29]:
len(items_to_buy)

8

In [30]:
items_to_buy [0]

'Apple'

In [31]:
items_to_buy[-1]

9

In [32]:
items_to_buy[3] # Indexing

'Pomgrante'

In [33]:
items_to_buy[-5]

'Pomgrante'

In [34]:
items_to_buy[0:2]

['Apple', 'Orange']

In [35]:
items_to_buy[0:3]

['Apple', 'Orange', 'Grapes']

In [36]:
items_to_buy[:3]

['Apple', 'Orange', 'Grapes']

In [37]:
items_to_buy [2:5]

['Grapes', 'Pomgrante', 'Apple']

In [38]:
items_to_buy[-6:-3]

['Grapes', 'Pomgrante', 'Apple']

In [39]:
items_to_buy

['Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9]

In [40]:
items_to_buy[1] = 'Watermelon'
items_to_buy

['Apple', 'Watermelon', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9]

## 2. Sets
* 1D
* Hetergoneous  
* it wont't sllow duplicate values
* Indexing and slicing not possible
* Mutable

In [41]:
empty_cart_2 = set ()

In [42]:
type(empty_cart_2)

set

In [43]:
items_to_buy_2 = {'Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9}
items_to_buy_2

{6.75, 8, 9, 'Apple', 'Grapes', 'Orange', 'Pomgrante'}

In [44]:
type (empty_cart_2)

set

In [45]:
items_to_buy_2[1]

TypeError: 'set' object is not subscriptable

In [ ]:
items_to_buy_2 [0:2]

TypeError: 'set' object is not subscriptable

In [ ]:
list.

SyntaxError: invalid syntax (3515812798.py, line 1)

In [ ]:
set.

In [ ]:
items_to_buy_2

{6.75, 8, 9, 'Apple', 'Grapes', 'Orange', 'Pomgrante'}

In [ ]:
items_to_buy_2.add('Banan')

In [ ]:
items_to_buy_2

{6.75, 8, 9, 'Apple', 'Banan', 'Grapes', 'Orange', 'Pomgrante'}

In [ ]:
items_to_buy_2.discard('Apple')

In [ ]:
items_to_buy_2

{6.75, 8, 9, 'Banan', 'Grapes', 'Orange', 'Pomgrante'}

In [ ]:
items_to_buy.append('Red Banana')

In [ ]:
items_to_buy

['Apple',
 'Watermelon',
 'Grapes',
 'Pomgrante',
 'Apple',
 6.75,
 8,
 9,
 'Red Banana']

## 3. Tuple
* 1D
* Heterogenous
* Duplicate values is allowed
* Indexing and slicing is also possible
* Immutable

In [ ]:
empty_cart_3 = ()

In [ ]:
type (empty_cart_3)

tuple

In [ ]:
items_to_buy_3 = ('Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9)
items_to_buy_3

('Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9)

In [ ]:
items_to_buy_3[0]

'Apple'

In [ ]:
items_to_buy_3 [0:3]

('Apple', 'Orange', 'Grapes')

In [ ]:
items_to_buy_3[0] = 'Nuts'

TypeError: 'tuple' object does not support item assignment

In [ ]:
items_to_buy_3.count(items_to_buy_3)

0

In [ ]:
items_to_buy_3.count('Apple')

2

In [ ]:
items_to_buy_3.index('Apple')

0

In [ ]:
items_to_buy_3.index('Grapes')

2

In [ ]:
items_to_buy_3

('Apple', 'Orange', 'Grapes', 'Pomgrante', 'Apple', 6.75, 8, 9)

## 4. Dictionary 
It's a Key:value pair
* 2D
* Heterogenous
* Mutable
* Indexing & Slicing is not possible
* Don't create duplicate kye, but you can create duplicate values

In [ ]:
empty_cart_4 = {}
empty_cart_4

{}

In [ ]:
type(empty_cart_4)

dict

In [ ]:
student_marks = {'Maths':89,
                 'English':98,
                 'Science':90}

In [ ]:
type (student_marks)

dict

In [15]:
items_to_buy_4 =  {'Potato': 5, 'Tomato': 2, 'Apple':3.5, 'Potato':4}
items_to_buy_4

{'Potato': 4, 'Tomato': 2, 'Apple': 3.5}

In [16]:
type(items_to_buy_4)

dict

In [17]:
items_to_buy_4[2:3]

KeyError: slice(2, 3, None)

In [18]:
items_to_buy_4.clear()

In [19]:
items_to_buy_4

{}

In [20]:
items_to_buy_4.keys()

dict_keys([])

In [21]:
items_to_buy_4.values()

dict_values([])

In [22]:
import pandas as pd

In [23]:
pd.DataFrame(data=items_to_buy_4)

Empty DataFrame
Columns: []
Index: []

In [24]:
maths_Student_marks = {'Name':['Mohith', 'Karthiga', 'Meera', 'sai', 'jai'],'Maths':[67,78,89,90,3], 'Sicence':[89,90,100,100,100]}

In [3]:
type(maths_Student_marks)

dict

In [11]:
pd.DataFrame(data=maths_Student_marks)

       Name  Maths  Sicence
0    Mohith     67       89
1  Karthiga     78       90
2     Meera     89      100
3       sai     90      100
4       jai      3      100

## THE END!!!

## Task:
Create 3 dataFrames from Dictionary

In [25]:
public_life_style = {'Name':['Mohamed','Azmi','Sai','Madan','Hakeem'],'Used':['Social media','Prayer','Eat', 'Rest','Sleep'],'Time':[5,2,6,10,8]}

In [26]:
type(public_life_style)

dict

In [4]:
import pandas as pd

In [28]:
pd.DataFrame(data=public_life_style)

      Name          Used  Time
0  Mohamed  Social media     5
1     Azmi        Prayer     2
2      Sai           Eat     6
3    Madan          Rest    10
4   Hakeem         Sleep     8

In [3]:
fruit_shop = {'Apple': ['Banana', 'Strawberry', 'Grapes', 'Mango', 'Orange', 'Watermelon', 'Pineapple','Cherry'],
              'Profit': [1050,800,400,1500,2000,2500,800,200],
               'Loss': [500,200,100,350,400,250,100,50]}

In [5]:
type(fruit_shop)

dict

In [ ]:
pd.DataFrame(data=fruit_shop)

        Apple  Profit  Loss
0      Banana    1050   500
1  Strawberry     800   200
2      Grapes     400   100
3       Mango    1500   350
4      Orange    2000   400
5  Watermelon    2500   250
6   Pineapple     800   100
7      Cherry     200    50

In [8]:
fruit_shop.values()

dict_values([['Banana', 'Strawberry', 'Grapes', 'Mango', 'Orange', 'Watermelon', 'Pineapple', 'Cherry'], [1050, 800, 400, 1500, 2000, 2500, 800, 200], [500, 200, 100, 350, 400, 250, 100, 50]])

In [10]:
fruit_shop.keys()

dict_keys(['Apple', 'Profit', 'Loss'])

## THE END!!!